
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');
	
	
	h1{
		text-align: center;
		font-family: 'PT Sans', sans-serif;
		background-color: white;
		width: 50%;
		margin: auto;
	}
	p{
		font-family: 'PT Sans', sans-serif;
		background-color: lightgrey;
		width: 90%;
	}


.frm{
	background-color: DarkGreen;
	height: 300px;
	width: 400px;
	border-radius: 15%;
	margin: auto;
	margin-top: 50px;
			
			border: 1px solid black;
			margin: auto;
			padding: 15px;
		}
body{
		background: url(1.jpg);
	
	}
